/client-side/C#/IntegrationArcMap/GsInstaller/bin
/client-side/C#/IntegrationArcMap/GsInstaller/obj
/client-side/C#/IntegrationArcMap/GsInstaller/GsInstaller.user
/client-side/C#/IntegrationArcMap/IntegrationArcMap/bin
/client-side/C#/IntegrationArcMap/IntegrationArcMap/obj
/client-side/C#/IntegrationArcMap/IntegrationArcMap/IntegrationArcMap.csproj.user
/client-side/C#/IntegrationArcMap/RangeControl/bin
/client-side/C#/IntegrationArcMap/RangeControl/obj
/client-side/C#/IntegrationArcMap/RangeControl/RangeControl.user
/client-side/C#/IntegrationArcMap/Setup/Debug
/client-side/C#/IntegrationArcMap/Setup/Release
/client-side/C#/IntegrationArcMap/IntegrationArcMap.suo