/client-side/C#/IntegrationArcMap/IntegrationArcMap/bin
/client-side/C#/IntegrationArcMap/IntegrationArcMap/Doc/APIKey.xml
/client-side/C#/IntegrationArcMap/IntegrationArcMap/obj
/client-side/C#/IntegrationArcMap/IntegrationArcMap/IntegrationArcMap.csproj.user
/client-side/C#/IntegrationArcMap/IntegrationArcMap.suo
/client-side/C#/IntegrationArcMap/IntegrationInstaller/bin
/client-side/C#/IntegrationArcMap/IntegrationInstaller/obj
/client-side/C#/IntegrationArcMap/IntegrationInstaller/IntegrationInstaller.user
/client-side/C#/IntegrationArcMap/RangeControl/bin
/client-side/C#/IntegrationArcMap/RangeControl/obj
/client-side/C#/IntegrationArcMap/RangeControl/RangeControl.user
/client-side/C#/IntegrationArcMap/Setup/Debug
/client-side/C#/IntegrationArcMap/Setup/Release
/client-side/C#/IntegrationArcMap/.svn
/client-side/C#/Libs